@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model TaskManagerWebApp.Models.AddTaskViewModel


<body class="bg-dark text-white">

    <div class="container fs-5 pt-2">

        <form method="post" class="bg-dark border p-4 rounded" style="width:50%; margin:auto">
            
            <h1 class="text-center mb-3">Add Task</h1>
          
            <div class="mb-3 col-sm-9" style="margin:auto;">
                <label for="exampleInputEmail1" class="form-label" asp-for="TaskName">Task Name:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="TaskName" required>
            </div>


            <div class="mb-3 col-sm-9" style="margin:auto;">
                <label for="exampleInputEmail1" class="form-label" asp-for="Description">Description (Optional):</label>
                <textarea rows="3" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Description"></textarea>
            </div>


            <div class="mb-3 col-sm-9" style="margin:auto;">
                <label for="exampleInputPassword1" class="form-label" asp-for="DueDate">DueDate(Optional):</label>
                <input type="date" class="form-control" id="exampleInputPassword1" asp-for="DueDate">
            </div>

            
            <div class="row mb-3 mt-4">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1" asp-for="IsCompleted">
                        <label class="form-check-label" for="gridCheck1" asp-for="IsCompleted">
                            Have You Completed the Task?
                        </label>
                    </div>
                </div>
            </div>
           

            <div class="text-center mt-4">
             <button type="submit" class="btn btn-outline-info">Save</button>
           </div>

    </form>
       
    </div>
</body>
